<header class="header">
    <a href="./" class="logo">
      <img src="public/imgs/logo1.png" alt="Logo" />
    </a>
    
    <ul class="menu">
      <li>
        <a class="menu-item" href="/"> Inicio </a>
      </li>
      <li>
        <a class="menu-item" href="/crud-usb">
          Crud
        </a>
      </li>
    </ul>
  </header>
  
  